doctype html


head
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Bootstrap CSS
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css' integrity='sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z' crossorigin='anonymous')
  link(rel='stylesheet' href='css/main.css')
  link(href='https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap' rel='stylesheet')
  title Bootstrap Remake
nav.navbar.navbar-light.bg-light.border-bottom.border-primary
  h1.navbar-brand.m-0.text-right FASTIGHETSBRANSCHENS UTBILDNINGSN&Auml;MND
.container-fluid
  .row
    img.col-4.pb-2.pt-2.pr-2.pl-0(src='images/WIN_20200918_09_03_04_Pro.jpg')
    img.col-4.p-2(src='images/WIN_20200918_09_03_04_Pro.jpg')
    img.col-4.pb-2.pt-2.pl-2.pr-0(src='images/WIN_20200918_09_03_04_Pro.jpg')
  .container-fluid.text-center.green.text-white
    h1.m-0.p-1.pt-sans &Auml;r du social, teknisk och serviceinriktad?
  .row
    img.col-4.pb-2.pt-2.pr-2.pl-0(src='images/WIN_20200918_09_03_04_Pro.jpg')
    img.col-4.p-2(src='images/WIN_20200918_09_03_04_Pro.jpg')
    img.col-4.pb-2.pt-2.pl-2.pr-0(src='images/WIN_20200918_09_03_04_Pro.jpg')
.container-xlq
  .row
    .col-4
      p.font-weight-normal
        | D&aring; kan Fastighetsbranchen vara n&aring;got f&ouml;r dig! Inom Fastighetsbranchen tr&auml;ffar du m&aring;nga m&auml;nniskor i ett socialt, varierande och fritt serviceyrke som passar b&aring;de tjejer och killar. Du ser till att m&auml;nniskor trivs i den milj&ouml; d&auml;r de bor eller arbetar. H&auml;r finns m&aring;nga gr&ouml;na jobb med flera innovativa projekt p&aring; g&aring;ng, &auml;ven inom IT och teknik. Det finns olika yrkesroller inom Fastighetsbranchen, samtligamed goda framtidsutsikter att f&aring; jobb och g&ouml;ra karri&auml;r.
      h6.text-uppercase.font-weight-bolder Fastighetsv&auml;rd- Gymnasieutbildning
      p.font-weight-light.pl-2
        | Fastighetsv&auml;rden &auml;r fastighets&auml;garen ansikte ut&aring;t. D&auml;rf&ouml;r &auml;r f&ouml;rm&aring;gan att kunna bem&ouml;ta m&auml;nniskor p&aring; ett bra s&auml;tt en viktig egenskap. Du sk&ouml;ter exempelvis besiktningar vid in- och avflyttning och kan &auml;ven ha
    .col-4
      p.font-weight-light.p-2
        | budgetansvar f&ouml;r ditt eget omr&aring;de. Du utf&ouml;r ocks&aring; en del enklare reparationer och hyr in hantverkare.
    .col-4
script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js' integrity='sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj' crossorigin='anonymous')
script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js' integrity='sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN' crossorigin='anonymous')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js' integrity='sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV' crossorigin='anonymous')
